<div class="hit rounded">
	<div class="pure-g gutters">
		<div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
			<div>
				<a href="{{path}}"><img class="img-responsive" height="100" width="150" src="{{thumbnail}}" alt="{{title}}"></a>	
			</div>		
		</div>
		<div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2">
			<h4 class="hit-title uppercase bottom-10"><a href="{{path}}">{{{_highlightResult.title.value}}}</a></h4>
			
			{{#description}}
				<p class="small">{{{_highlightResult.description.value}}}</p>
			{{/description}}
			
			{{#city}}
			<div class="hit-location text-muted small xs-hide sm-hide">
				<span>{{{_highlightResult.city.value}}}</span>
			</div>
			{{/city}}
			
		</div>
		<div class="pure-u-1 pure-u-sm-1 pure-u-md-1-4">
			<div class="hit-price rounded text-right pad-10">
				<a class="block width-100" href="{{path}}"><span class="light uppercase small">Desde</span><br/><span class="large strong">${{price}}</span><br/><span class="light uppercase small">x persona</span></a>
			</div>			
		</div>
	</div>
</div>