{{#participants}}
	<table class="pure-table pure-table-bordered small text-center width-100">
		<thead>
			<tr>
				<th>Descrip.</th>
				<th>Precio U.</th>
				<th>Cant.</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		<tbody>		
			{{#items}}
				{{#quantity}}
					<tr>
						<td>{{description}}</td>
						<td>${{price}}</td>
						<td>{{quantity}}</td>
						<td>${{subtotal}}</td>
					</tr>
				{{/quantity}}
			{{/items}}
			<tr class="large strong">
				<td colspan="3">Total</td>
				<td>${{total}}</td>
			</tr>
		</tbody>
	</table>
{{/participants}}