<div class="slideshow bottom-20">
	<%if(page.slides){%>
		
		<% Object.keys(page.slides).forEach(function(key) { %>
			<div class="slides"><img class="img-responsive" width="600" height="400" alt="<%= page.title%>" src="/images/<%= page.slides[key]%>" /></div>
		<%});%>
	<%} else { %>	
		<img class="img-responsive" width="600" height="400" alt="<%= page.title%>" src="/images/bg-logo.svg" />
	<% } %>
</div>